@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 180 65.1% 92.5%;
    --foreground: 222 84% 5%;
    --card: 0 0% 100%;
    --card-foreground: 222 84% 5%;
    --popover: 0 0% 100%;
    --popover-foreground: 222 84% 5%;
    --primary: 180 100% 25.1%;
    --primary-foreground: 180 100% 98%;
    --secondary: 180 30% 96%;
    --secondary-foreground: 180 100% 20%;
    --muted: 180 30% 96%;
    --muted-foreground: 222 10% 45%;
    --accent: 60 100% 25.1%;
    --accent-foreground: 60 100% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 180 20% 89%;
    --input: 180 20% 89%;
    --ring: 180 100% 25.1%;
    --radius: 0.5rem;

    --chart-1: 180 78% 40%;
    --chart-2: 60 78% 40%;
    --chart-3: 358 78% 54%;
    --chart-4: 260 78% 54%;
    --chart-5: 200 78% 54%;
  }

  .dark {
    --background: 210 28% 10%;
    --foreground: 210 40% 98%;
    --card: 210 28% 13%;
    --card-foreground: 210 40% 98%;
    --popover: 210 28% 13%;
    --popover-foreground: 210 40% 98%;
    --primary: 180 80% 65%;
    --primary-foreground: 180 100% 10%;
    --secondary: 210 28% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 210 28% 17%;
    --muted-foreground: 210 40% 60%;
    --accent: 60 80% 65%;
    --accent-foreground: 60 100% 10%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 28% 22%;
    --input: 210 28% 22%;
    --ring: 180 80% 65%;
    
    --chart-1: 180 78% 60%;
    --chart-2: 60 78% 60%;
    --chart-3: 358 78% 74%;
    --chart-4: 260 78% 74%;
    --chart-5: 200 78% 74%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
